<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZRADA System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ZRADA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Домашня сторінка<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/laws">Список законопроектів</a>
        <a class="nav-item nav-link" href="/insert_law">Реєстратор</a>
        <a class="nav-item nav-link active" href="/vote">Рахівниця</a>
      </div>
    </div>
</nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col12">
                <select class="" id="lawid">
                    <option value="none" disabled selected>Виберіть номер законопроекту</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">

                <div class="checkbox mx-auto" data-vote='none' data-name="BossOfTheGym"></div>
                <img class="mx-auto d-block" src="avatars/avatar_boss.jpg" alt="BossOfTheGym">
            </div>
            <div class="row justify-content-around">
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="AGBW"></div>
                    <img class="d-block mx-auto" src="avatars/avatar_agbw.jpg" alt="AGBW" srcset=""> 
                </div>
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="Bichashka"></div>    
                    <img class="d-block mx-auto" src="avatars/avatar_bichashka.jpg" alt="Bichashka" srcset="">
                </div>
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="Ebin"></div>
                    <img class="d-block mx-auto" class="mx-auto" src="avatars/avatar_ebin.jpg" alt="Ebin" srcset="">
                </div>
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="Drovenyakaa"></div>
                    <img class="d-block mx-auto" src="avatars/avatar_drovenyakaa.jpg" alt="drovenyakaa" srcset="">
                </div>
                <div class="col">
                    <div class="checkbox mx-auto"  data-vote='none' data-name="LDJ"></div>
                    <img class="d-block mx-auto" src="avatars/avatar_ldj.jpg" alt="LDJ" srcset="">
                </div>
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="quppeq"></div>
                    <img class="d-block mx-auto" src="avatars/avatar_quppeq.jpg" alt="quppeq" srcset="">
                </div>
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="RGB"></div>
                    <img class="d-block mx-auto" src="avatars/avatar_rgb.jpg" alt="RGB" srcset="">
                </div>
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="Solaris"></div>
                    <img class="d-block mx-auto" src="avatars/avatar_solaris.jpg" alt="Solaris" srcset="">
                </div>
                <div class="col">
                    <div class="checkbox mx-auto" data-vote='none' data-name="Thomas Falcone"></div>
                    <img class="d-block mx-auto" src="avatars/avatar_ThomasFalcone.jpg" alt="Thomas Falcone" srcset="">
                </div>
            </div>
        </div>
    </div> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 info-col text-align-center">
                <p id="pro" class="d-block"></p>
                <p id="con" class="d-block"></p>
                <p id="ind" class="d-block"></p>
                <p id="verdict" class="d-block mx-auto"></p>
                <button id="count" class="d-block mx-auto">Підрахувати голоси</button>
            </div>
        </div>
    </div> 
    
    <script src="../../static/voteHandler.js"></script>
    <script src="/static/creator.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
